@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


/* Reset Box-Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

input[type="text"],
button,
textarea,
select {
    font: inherit;
    border: hidden;
    background-color: transparent;
    outline: none;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------------------ */
/* Custom Properties              */
/* Colors, Fonts, Spacers, Type   */
/* ------------------------------ */

:root {
    /* Colors */
    /* Colors are in comma-separated RGB ints for flexible alpha */
    /* e.g. rgba(--clr-grey-100, --alpha-low) */

    /* Declarative */
    /* [100 upto 800] : dark to light */

    --clr-grey-100: 18, 18, 18;
    --clr-grey-150: 33, 33, 33;
    --clr-grey-200: 51, 51, 51;
    --clr-grey-300: 85, 85, 85;
    --clr-grey-400: 120, 120, 120;
    --clr-grey-450: 153, 153, 153;
    --clr-grey-500: 204, 204, 204;
    --clr-grey-600: 226, 226, 226;
    --clr-grey-700: 243, 243, 243;
    --clr-grey-800: 248, 248, 248;
    --clr-white: 255, 255, 255;

    /* Semantic Colors */

    /* Primary */
    --clr-primary: 55, 36, 229;

    /* Accent */
    --clr-accent-100: 48, 85, 185;
    --clr-accent-200: 48, 76, 156;
    --clr-accent-300: 48, 85, 185;

    /* Neutral */
    --clr-neutral-100: 105, 120, 163;
    --clr-neutral-200: 139, 149, 178;
    --clr-neutral-300: 182, 187, 201;
    --clr-neutral-400: 241, 245, 255;


    /* Glass */
    --glass-100: rgba(var(--clr-white), var(--alpha-200));
    --glass-150: rgba(var(--clr-white), var(--alpha-300));
    --glass-200: rgba(var(--clr-neutral-400), var(--alpha-400));
    --glass-300: rgba(var(--clr-neutral-400), var(--alpha-800));
    --glass-800: rgba(var(--clr-grey-150), var(--alpha-800));

    /* Background */
    --bg-100: 14, 9, 20;

    /* Transparency */
    --alpha-200: 0.06;
    --alpha-300: 0.08;
    --alpha-400: 0.18;
    --alpha-500: 0.35;
    --alpha-600: 0.55;
    --alpha-800: 0.75;
    --alpha-900: 0.95;


    /* Borders */
    --br-circle: 1000px;
    --br-sharp: 5px;

    /* Typography */
    /* Fonts */
    /* Lists fonts and fallbacks */
    --ff-sansserif: 'Open Sans', sans-serif;
    --ff-serif: 'Libre Baskerville', serif;
    --ff-monospace: 'IBM Mono', monospace;

    /* Font sizes */
    /* The interface scales by rem, which is set using --fs-unit */
    --fs-unit: 14px;
    /* set rem */
    font-size: var(--fs-unit);

    --fs-xxs: calc(0.25 * var(--fs-unit));
    --fs-xs: calc(0.65 * var(--fs-unit));
    --fs-sm: calc(0.85 * var(--fs-unit));
    --fs-md: calc(1.15 * var(--fs-unit));
    --fs-lg: calc(1.75 * var(--fs-unit));
    --fs-xl: calc(2.75 * var(--fs-unit));
    --fs-xxl: calc(3.25 * var(--fs-unit));

    /* Space */
    --space-unit: var(--fs-unit);

    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.85 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(1.50 * var(--space-unit));
    --space-xl: calc(2.15 * var(--space-unit));
    --space-xxl: calc(3.25 * var(--space-unit));


    /* Interface Scale Parameters */
    --grid-gap: var(--space-xs);
    --control-dim: 14;
    --bg-height: calc(2 * var(--control-dim) * var(--fs-unit));
}

/* ------------------------------ */
/* Layout                         */
/* ------------------------------ */
body {
    /* background-color: rgb(var(--clr-grey-700)); */
}

.logInText {
  font-family: var(--ff-sansserif);
}

/* HEADER */
.header {
  width: 100vw;
  height: 60px;
  background-color: rgb(237, 237, 237);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 8px;
  z-index: 100;
}

.featureHeader{
    width: 100vw;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 8px;
    z-index: 100;
}

.navigationTextWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 30px;
  text-decoration: none;
}

.navigationText {
  color: #4B5563;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.featureNavigationText{
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  color: rgba(119, 153, 141, 0.7);
  font-weight: bold;
}

/* INTEGRATIONS */
.integrations {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.integrationBox {
  border: 1px solid rgb(239, 239, 239);
  /* height: 240px; */
  height: fit-content;
  width: 40%;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgb(237, 237, 237);
  /* background-color: rgb(243 244 246/var(--tw-bg-opacity)); */
}

.integrationBoxWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.connectWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
  alignItems: center;
}

.integrationIcon {
  height: 36px;
  width: 36px;
}

.buttonRowWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.connectButton {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  height: 40px;
  width: 120px;
  box-shadow: 1px 1px 2px 0.5px rgb(237, 237, 237);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectedButton {
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: rgb(236, 253, 234);
  box-shadow: 1px 1px 2px 0.5px rgb(236, 253, 234);
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceNameWrapper{
  flex: 1;
  padding-bottom: 10px;
}

.logoutButton {
  padding: 10px 20px;
  background-color: rgba(119, 153, 141, 0.5);
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.logoutButton:hover{
  background-color: #77998d;
}

.featureLogoutButton{
  padding: 10px 20px;
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  color: rgba(119, 153, 141, 0.7);
  font-weight: bold;
}

.discordInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.discordInputButton {
  /* border: 1px solid green !important; */
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: rgb(94, 160, 85);
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgba(236, 253, 234, 0.9) !important;
  box-shadow: 1px 1px 2px 0.5px rgba(236, 253, 234) !important;
}

.discordUpdateButton {
  border: none;
  padding-top: 3px;
  cursor: pointer;
}

/* KANBAN BOARD */

.roadmapWrapper{
  display: grid;
  grid-template-rows: 30px 95%;
  grid-template-columns: 0.40fr 0.60fr;
  height: calc(100vh - 60px);
  width: 100vw;
  margin-top: 60px;
  box-sizing: content-box;
  padding: 60px;
  box-sizing: border-box;
  column-gap: 30px;
}

.innerRoadmapWrapper{
  grid-row: 1 / 3;
  grid-column: 1 /2;
  border: 1px solid rgba(119, 153, 141, .3);
  box-shadow: #00000014 0 2px 4px;
}

.roadmapTagsWrapper{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.kanbanColumnOuter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex: 1;
}

.kanbanColumnHeader{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}

.kanbanColumnHeaderSeparator{
  height: 10px;
  width: 100%;
  background-color: white !important;
}

.kanbanColumnHeaderTextWrapper{
  border-radius: 2px;
  background-color: #B7CEC6;
  padding: 8px;
  line-height: 1;
  box-sizing: border-box;
  margin-right: 4px;
  box-shadow: 4px 4px 11px -1px #0000001a;

}

.kanbanColumnHeaderText{
  color: #4B5563;
  font-size: 20px;
}

.messageNumberWrapper{
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.messageNumber{
  font-weight: bold;
  font-size: 16px;
  color: rgba(179, 179, 187);
}

.addMessageWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMessage{
  color: rgba(179, 179, 187, 0.6);
  font-size: 40px;
  font-weight: bold;
}

.kanbanColumnInner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.roadmapControlPanel{
  padding: 10px;
  padding-left: 20px;
  height: 55px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.newTopicButton{
  color: #BBBBBB;
  font-size: 20px;
}

.columnNameWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  border: 2px solid rgba(119, 153, 141, 1);
}

.columnName {
  font-size: 24px;
  font-weight: normal;

}

.addCardWrapper {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCardButton {
  height: 30px;
  width: 30px;
  filter: opacity(0.3);
  cursor: pointer;
}
/* KANBAN CARD*/
.kanbanCardWrapper{
  height: auto;
  width: 100%;
  border: 1px solid #E7E7E7;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-shadow: 4px 4px 11px -1px #0000001a;
}

.kanbanCardBookmark {
  width: 10px;
  background-color: rgba(119, 153, 141, 0.6);
}

.kanbanCardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 15px;
}

.kanbanCardTitle{
  display: flex;
  flex-direction: row;
}


.kanbanCardMenu{
  color: rgba(119, 153, 141, 0.8);
  font-size: 20px;
}

.kanbanCardTitleText{
  color: #4B5563;
  font-weight: 500;
  font-size: 16px;
}

.kanbanCardPinnedText{
  color: rgba(119, 153, 141, 0.8);
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 1px;
  font-weight: 500;
}

.kanbanCardDescriptionText{
 color: #4B5563;
 font-size: 12px;
 font-weight: 400; 
 position: relative;
 left: 1px;
}

/*  -------- NOTEPAD -------- */
.textboxColumn {
  background-clip: border-box;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  position: relative;
  width: 55%;
}

.discoveryTextboxColumn {
  background-clip: border-box;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

/* MESSAGE STREAM INNER CLASSES */
.messageStreamColumn {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  width: 100%;
  position: relative;
}


.messageStream {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.messageStreamMetadataRow {
  border: 2px solid grey;
  width: 90%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.messageCard {
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  padding: 3px;
  text-overflow: clip;
  display: flex;
  flex-direction: column;
}

.messageCardOuter{
  text-overflow: clip;
  display: flex;
  flex-direction: column;
}

.messageCardMetadata{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.5rem;
  cursor: pointer;
  flex-wrap: wrap;
}

.messageCardMetadataText{
  font-size: 14px;
  color: rgba(75, 85, 99, 0.62);
  font-weight: 400;
}

.messageCardDivider{
  border-radius: 100%;
  background-color: #b5b0b0;
  height: 2px;
  width: 2px;
}

.messageCardInner{
  /* line-height: 1.25rem; */
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding-top: unset;
}

.messageCardInner:hover{
  color: rgb(31, 41, 55);
}

.messageCardInnerText{
  font-size: 15px;
  font-weight: 450;
  color: rgba(75, 85, 99, 0.85);
  display: block;
  letter-spacing: -0.05em;
}

.messageCardExpandedTextWrapper{
  align-items: center;
  max-width: 93%;
}

.messageCardExpandedText{
  color: #4B5563E6;
  line-height: 1.25;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  overflow-wrap: break-word;
}

.clusterErrorWrapper{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clusterErrorText{
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #4b5563;
  font-weight: 350;
  text-align: center; 
}

.clusterCard {
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  border-radius: 0px;
  padding: 12px;
  text-overflow: clip;
  box-shadow: 1px 1px 10px 1px #0000001a;
}

.clusterCardInner{
  letter-spacing: -.025rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
}

.clusterCardOuter{
  color: rgba(31, 41, 55, 0.7);
}

.clusterCardOuter:hover{
  color: rgba(31, 41, 55, 0.95) !important;
}

.clusterCardTitle{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  display: block;
}

.clusterCardMetadataWrapper{

}

.clusterCardTitleMetadata{
  font-size: 12px;
  letter-spacing: -0.01em;
  color: rgba(75, 85, 99, 0.5);
}

.clusterCardExternalNotesWrapper{
  margin-top: 4px;
}

.clusterCardExternalNotes{
  color: rgba(75, 85, 99, 0.5);
  letter-spacing: -0.03em; 
}

.clusterCardTitleSeparator{
  border-top: 0.5px solid #D9D9D9;
  margin-top: 4px;
  margin-bottom: 8px;
}



.clusterCardTagsWrapper{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}


/* AUTHOR CARD */

.authorCard {
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  color: rgba(31, 41, 55, 0.7);
  padding: 12px;
  text-overflow: clip;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px #0000001a;
}

.authorCardInner{
  letter-spacing: -.025rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.authorCardTitle{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  display: block;

}

.authorCardTitleMetadata{
  font-size: 12px;
  letter-spacing: -0.01em;
  color: rgba(75, 85, 99, 0.5);
  overflow-wrap: break-word;
  max-width: 100%;
}

.authorCardColumn{
  color: #4b5563e6;
  letter-spacing: -.025em;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* SEARCH BOX CLASSES */

.searchBarWrapper{
  display: flex;
  justify-content:center;
  align-items:center;
  overflow: visible;
  position: relative;
}

.discoveryTopicSearchBarWrapper{
  display: flex;
  justify-content:center;
  align-items:center;
  overflow: visible;
  position: relative;
  flex: 1;
}

.searchBar {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgba(55, 65, 81, 1);
  width: 100%;
  height: 70px;
  padding: 10px;
}

.discoveryTopicSearchBar {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  color: rgba(55, 65, 81, 1);
  width: 100%;
  padding: 10px;
  outline: none;
}


.searchBarSubmit {
  background-color: rgba(119, 153, 141, 0.5);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discoveryTopicSearchBarSubmit {
  background-color: rgba(119, 153, 141, 0.5);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  flex: 0.05;
  display: flex;
  align-items: center;
  justify-content: center;
}


.discoveryTopicSearchBarSubmit:hover{
  background-color: rgba(119, 153, 141, 1);
}
/* TEXTBOX STYLES */
textarea::placeholder {
  color: #e0e0e0;
  white-space: pre-line;
}
textarea {
  resize: none;
}

.textbox-shadow {
  box-shadow: -16px 16px rgba(0, 0, 0, 0.03);
}

textarea:focus {
  outline-width: 0;
  outline: none;
}

div.DraftEditor-root {
  background-color: "#FFFFFF";
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 0px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.syncIndicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* POINT FIELD */
.pointFieldWrapper {
  flex: 2;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
  border: 1px solid rgba(119, 153, 141, 0.3);
  height: 80%;
  position: relative;
}

/* CANVAS D3 CLASSES */
.canvasSVG{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(119, 153, 141, 0);
}

.featureRequestCircle{
  transition: 1s ease-out all;
}

.frNode{
  transition: 0.5s ease-out r;
}

.hoverSelected{
  transition: 0.5s ease-in r;
  r: 7;
  fill: rgba(119, 153, 141, 1) !important;
}

.searchSelected {
  transition: 0.5s ease-in r;
  r: 7;
  fill: rgba(119, 153, 141, 1) !important;
}

.mouseOverFr{
  transition: 0.2s ease-in all;
  r: 20 !important;
}

.mouseOverCluster{
  transition: all 0.1s ease-in-out;
  opacity: 0.6 !important;
}

.notepadPadding {
  padding: 8rem;
  padding-left: 14rem;
  padding-right: 14rem;
  height: 100vh;
  width: 100vw;
}

.discoveryOverarchingWrapper{
  width: 100%;
  height: 100%;
  border-width: 1px;
  display: grid;
  grid-template-rows: 10% 92%;
  grid-template-columns: 1fr;
}

.discoveryTopicSearchWrapper {
  width: 100%;
  flex: 0.2;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.featureDiscoveryWrapper {
  display: flex;
  flex-direction: row;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  border-width: 1px;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.discoveryMessageStreamColumn {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  overflow-x: hidden;
  overflow-y: scroll;
  width: 40%;
}

.discoveryPointComponentsWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  flex: 2;
  padding: 10px;
  justify-content: center;
  /* align-items: center; */
}

.discoverySearchWrapper {
  height: 60px;
  width: 95%;
  padding-right: 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 20px;
}

.discoveryPointFieldWrapper {
    border: 2px solid green;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    border: 1px solid rgba(119, 153, 141, 0.3);
    height: 96%;
    position: relative;
    background-color: white;
}

/* SEARCH OUTLET */
.searchOutletWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.searchOutletText{
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #4b5563;
  font-weight: 350;
  text-align: center; 
}

/* SEARCH BAR */
.discoverySearchBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discoverySearchBar {
  color: rgb(55, 65, 81);
  letter-spacing: -.025rem;
  text-align: start;
  font-size: 1.5rem !important;
  padding: 0.5rem;
  margin: 0.5rem;
}

.discoverySearchBarSubmit {
  color: white;
  font-weight: 700;
  height: 40px;
  width: 75px;
  background-color: #77998d80;
}

.discoverySearchBarSubmit:hover {
  background-color: #77998d;
}

/* LOGIN PAGE */

.terrarium-logo {
  color: #7E988E;
  font-size: 60px;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.terrarium-login {
  color: rgba(145, 170, 160, 0.8);
  font-size: 50px;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.terrarium-login:hover {
  opacity: 0.4;
  font-size: 55px;
}

/* PINNED FEATURE REQUESTS */
.pinnedFROuterWrapper{
  overflow: scroll;
  padding: 20px;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.pinnedFRWrapper{
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14px;
  cursor: pointer;
}

.pinnedFRTitle{
  font-size: 14px;
  color: #4B5563;
}

.pinnedFRAuthor{
  font-size: 12px;
  color: rgba(119, 153, 141, 0.8)
}

.pinnedFRMessage{
  font-size: 14px;
  color: #4B5563;
}

/* FEATURE SCAFFOLD */
.featureScaffold{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5%;
  height: 100vh;
}

.featureTitleWrapper{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  line-height: 1.1;
  position: relative;
}

.featureDropDownArrow{
  height: 30px;
  width: 30px;
  position: absolute;
  left: -36px;
  top: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  /* transition: all 0.5s ease-in-out; */
}

.featureDropDownArrow:hover{
  filter: contrast(1.5);
}

.featureTitleInnerInput{
  font-weight: 700;
  font-size: 40px;
  color: #4b5563;
  width: 100%;
  outline: none;
}

.featureTitleText{
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: #4b5563;
  /* transition: all 0.5s ease-in-out; */
}

.featurePositionWrapper{
  margin-left: 14px;
}
.featurePositionText{
  font-weight: 700;
  font-size: 50px;
  color: #4b5563;
}

.featureDescriptionWrapper{
  font-size: 16px;
  color: #4b5563;
  outline: none;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  letter-spacing: -0.02em;
  /* transition: all 0.5s ease-in-out; */
}

.featureDescriptionSave{
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #77998db3;
}

.searchIconWrapper{
  padding-right: 2px;
  /* transition: all 0.5s ease-in-out; */
}

.searchIconText{
  color: #77998D;
  height: 40px;
  width: 40px;
  /* transition: all 0.5s ease-in-out; */
}

.pinnedMessagesWrapper{
  /* transition: all 0.5s ease-in-out; */
}

.pinnedMessagesText{
  color: #B9C7C0;
  font-weight: 500;
  position: relative;
  bottom: 2px;
}

.workspaceScaffold{
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}

.workspaceOutletScaffold{
  flex: 1;
  padding: 26px;
  background-color: rgb(243 244 246);
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-top: 14px;
}

.workspaceOutletInnerScaffold{
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 4px 4px 11px -1px rgba(0, 0, 0, 0.1);
  min-height: 0;
}
.messageStreamScaffold{
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
}

.workspaceOutletControls{
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 8px;
}


.notepadTab {
  height: 100%;
  /* width: 10vw; */
  min-width: 60px;
  border-radius: 1px;
  text-align: center;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.notepadTab:hover{
  background-color: rgba(119, 153, 141, 0.2);
  cursor: pointer;
}

.notepadTabLabel {
  font-size: 24px;
  color: rgba(75, 85, 99, 0.6);
  letter-spacing: -0.03em;
}

.textEditorScaffold{
  height: 100%;
  width: 100%;

}

/* PAGE TITLE */
.pageTitleOuterWrapper{
  width: 100%;
}
.pageTitle{
  width: 100%;
  text-align: left;
  line-height: 1.1;
  margin-top: 50px;
}

.pageTitleText{
  font-weight: bold;
  font-size: 50px;
  color: #4B5563;
}

.pageTitleDivider{
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
}

.pageTitleDescription{
  padding-top: 12px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.pageTitleDescriptionText{
  font-size: 16px;
  color: #4B5563;
}


/* NEW ROADMAP */
.kanbanRoadmapWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  flex-direction: column;
}

.kanbanRoadmapColumns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  gap: 7%;
}

.MuiLinearProgress-bar {
  background-color: rgb(119, 153, 141) !important;
}


/* SVG */
.svgContainer{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svgContentResponsive{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.messageStreamMetadataWrapper{
  --tw-backgroup-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

  font-size: .75rem;
  line-height: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f3f4f6e6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  top: 0;
  position: sticky;
}

.messageStreamMetadataSection{
  margin-right: 20px;
  cursor: pointer;
  color: rgb(156, 163, 175);
  font-weight: 500;
}

.messageStreamMetadataSection:hover{
  color: rgb(31, 41, 55);
}

.messageStreamMetadataIcon{
  color: rgb(31, 41, 55);
  font-weight: 700;
  margin-right: 4px;
}

.messageStreamMetadataText{
  display: flex;
  align-items: center;
}

.messageStreamClustersLoaderWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clusterDescriptionWrapper{
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.clusterDescriptionIcon{
  border-right: 0.5px solid #d9d9d9;
  padding-right: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clusterDescriptionContentWrapper{
  display: flex;
  flex-direction: row;
}

.clusterDescriptionInnerWrapper{
  flex: 1;
  display: flex;
  align-items: center;
}

.clusterDescriptionSaveWrapper{
  font-size: 10px;
}

.messageCardInnerWrapper{
  display: flex;
}

.messageCardTextIconWrapper{
  border-right: 0.5px solid #d9d9d9;
  padding-right: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.altTagText{
  font-size: 15px;
  font-weight: 400;
  color: rgba(75, 85, 99, 0.7);
  display: block;
  letter-spacing: -0.03em;
}

.altTagSeparator{
  border-radius: 100%;
  background-color: #b5b0b0;
  height: 3px;
  width: 3px;
}

.dataTableOuterWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 60px;
  box-sizing: border-box;
}

.dataTableInnerWrapper{
  border: 2px solid green;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.dataTableHeader{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
}

.dataTableColumnHeader{
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid green;
  display: flex;
  padding-left: 40px;
  padding-right: 10%;
  align-items: center;
}

.fileUploadWrapper{
  margin-top: 60px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadRectangle{
  border: 2px dashed rgba(75, 85, 99, 0.4);
  height: 300px;
  width: 50%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fileUploadText{
  font-size: 20px;
  letter-spacing: -0.03em;
  color: rgb(75, 85, 99);
  font-weight: 600;
  margin-top: 10px;
}

.fileUploadSpecifier{
  font-weight: 400;
  letter-spacing: -0.03em;
  color: rgba(75, 85, 99, 0.6);
  text-align: center;
}

.uploadedFilesWrapper{
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fileOuterWrapper{
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fileTitle{
  font-size: 16px;
  letter-spacing: -0.03em;
  color: rgb(75, 85, 99);
  font-weight: 600;
}

.fileMetadataWrapper{
  display: flex;
  align-items: center;
}

.fileMetadata{
  font-weight: 400;
  letter-spacing: -0.03em;
  color: rgba(75, 85, 99, 0.7);
}

.fileMetadataDivider{
  border-radius: 100%;
  background-color: rgba(75, 85, 99, 0.8);
  height: 3px;
  width: 3px;
  margin-left: 6px;
  margin-right: 6px;

}

.fileRemoveWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileIconWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.fileInnerWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fileTitleRow{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;

}

.fileContentWrapper{
  scroll-padding-right: 10px;
}

.fileSubmit{
  letter-spacing: -0.03em;
  color: #7e988e;
  font-weight: 600;
  font-size: 16px;

}

.datasetsLabelText{
  font-size: 18px;
  letter-spacing: -0.04em;
  color: rgb(75, 85, 99);
  font-weight: 600;
}

/* FILTERING */
.filtersOuterWrapper{
  padding: 30px;
  height: 100%;
  width: 100%;
}

.newFilterBox{
  /* border: 1px dashed rgba(75, 85, 99, 0.4); */
  background-color: white;
  box-shadow: 4px 4px 11px -1px #0000001a;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.filterOptionsBar{
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.filterOptionButton{
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  min-height: 46px;
  font-size: 24px;
  color: #4b556399;
  letter-spacing: -0.03em;
  border: 1px solid rgba(119, 153, 141, 0.3);

}

.filterOptionButton:hover{
  color: #77998d;
  border-color: #77998d;
  background-color: rgba(176, 191, 185, 0.6) !important;
}

.filterOptionSeparator{
  border-bottom: 1px solid #bbbbbb;
  width: 100%;
  margin-top: 10px;
}

.dateOptionsBar{
  display: flex;
  margin-bottom: 12px;
  margin-top: 12px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.dateOptionButton{
  color: #4b556399;
  letter-spacing: -0.03em;
  border: 1px solid rgba(119, 153, 141, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 70px;
}

.dateOptionButton:hover{
  background-color: rgba(119, 153, 141, 0.35);
}

.dateVariantOptionsText{
  text-transform: capitalize;
  font-size: 14px;
}


.datePickerBar{
  display: flex;
  gap: 10px;
}

.authorPickerBar{
  display: flex;
  gap: 10px;
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiAutocomplete-root {
  width: 100% !important;
}

.datePickerTextField fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #B0BFB9 !important;
}

.authorPickerTextField fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #B0BFB9 !important;
}

.datePickerTextField .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #77998d !important;
}

.authorPickerTextField .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #77998d !important;
}

.datePickerTextField label {
  color: #9CA3AF !important;
}

.authorPickerTextField label{
  color: #9CA3AF !important;
}

.datePickerTextField input {
  color: rgba(55, 65, 81, 1) !important;
}

.authorPickerTextField input {
  color: rgba(55, 65, 81, 1) !important;
}

.filterAuthorErrorWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.filterAuthorErrorText{
  color: #4b556399;
  letter-spacing: -0.03em;

}

.authorSelectInputWrapper{
  margin-top: 12px;
}

.filtersSectionText{
  font-weight: 600;
  letter-spacing: -0.04em;
  font-size: 20px;
  color: #4b5563;
}

.filterBox{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: 4px 4px 11px -1px #0000001a;
}

.filterIconWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.filterContentWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filterContentText{
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #4b556399;
  font-weight: 400;
  
}

.innerFilterContentText{
  color: #4b5563;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.filterControlsWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeFiltersWrapper{
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.editorOuterWrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editorWrapper{
  height: 100%;
  color: #4b5563;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 0px;
}

.editorControlsBar{
  position: relative;
  display: flex;
  padding: 20px;
  padding-left: 26px;
  padding-right: 26px;
}

.editorToolbar{
  gap: 0.5rem;
  display: flex;
}

.syncIndicatorWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}