
.cardContentWrapper{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.cardHeader{
  display: flex;
  flex-direction: row;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  padding-left: 5px;
}

.headerTextWrapper{
  flex: 1;

}

.headerText{
  font-weight: bold;
  font-size: 26px;
  color: #4D4D4D;

}

.cardContent{
  box-sizing: border-box;
  height: 115px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.contentText{
  font-size: 16px;
  color: #5A5A65;
}
