
.cardBorder{
  margin: 20px;
  border-radius: 20px;
  height: 200px;
  width: 300px;
}

.cardContentWrapper{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.cardHeader{
  display: flex;
  flex-direction: row;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 20px;
  padding-left: 5px;
}

.headerTextWrapper{
  flex: 1;

}

.deleteCardWrapper{
  height: 100%;
  color: ;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.deleteCardIcon{
  font-size: 20px;
  color: #4D4D4D;
}


.headerText{
  font-weight: bold;
  font-size: 26px;
  color: #4D4D4D;

}

.cardContent{
  box-sizing: border-box;
  height: 115px;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.contentText{
  font-size: 16px;
  color: #5A5A65;
}

.columnTitleWrapper{
  border-radius: 20px;
  height: 30px;
  padding-top: 2px;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 4px;
  margin: 0px;
  border: 1px solid darkgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  position: relative;
  left: 10px;

}

.columnTitleText{
  font-size: 18px;
  line-height: 0;
  color: #4D4D4D;
}
